# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CHECKOUT_SHIPPING_CENTS=

# Mercado Pago
NEXT_PUBLIC_MERCADO_PAGO_PUBLIC_KEY=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=
MERCADO_PAGO_MODE=test
MERCADO_PAGO_PAYMENTS_ENABLED=false
MERCADO_PAGO_ENABLE_PRODUCTION=false

# Melhor Envio
MELHOR_ENVIO_TOKEN=
MELHOR_ENVIO_FROM_POSTAL_CODE=

# App
NEXT_PUBLIC_BASE_URL=
